{# <div class="c-content-two" style="background-image:url({{TimberImage(acf.acf_field_two_left_image).src('large')}})"> #}
<div class="c-content c-content-two">
  <div class="o-layout-container o-layout-container--content">

    <div class="c-content-two__image js-move">
	    <img src="{{ TimberImage(acf.acf_field_two_left_image).src('large') }}" alt="{{acf.acf_field_big_image.alt}}">
    </div>

    <div class="c-content-two__text">
	    <h2>{{acf.acf_filed_two_content_title}}</h2>
      <p>{{acf.acf_filed_two_content}}</p>
    </div>

  </div>
</div>
